<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>文化惠残</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/jquery-1.9.0.min.js"> </script>

    <style type="text/css">
        div {
            width: 100%;
        }
    </style>
</head>

<body>
    <h2>发表图文</h2>
    <text>文章标题</text><input style="margin-left:20px;height: 30px;width: 300px;" type="text" name="title" id="title"
        placeholder="请输入文章标题">
    <!-- <hr> -->
    <text>文章分类</text>
    <select id="nav1" style="height: 35px;width: 150px;font-size: 14px;">
        <option value="残疾预防">残疾预防</option>
        <option value="学习知识">学习知识</option>
        <option value="文化娱乐">文化娱乐</option>
    </select>
    <div style="margin-top: 20px;">


        <text>封面图片</text>
        <input type="file" name="file" id="file" value="" multiple="multiple" />
        
        <button id="btn">上传封面</button>
        

    </div>
    <div><img id="thumbimg" src="" alt="" style="margin-top: 30px;width: 300px;height: 200px;"></div>
    <h3>正文</h3>
    <div>
        <script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
    </div>

    <div id="btns">
        <button onclick="getContent()" style="margin-top: 30px;width: 80px;height: 40px;">发布</button>
    </div>
    <script type="text/javascript">
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editor');
        btn.onclick = function () {
            var file = document.getElementById("file").files[0];
            var formdata = new FormData();
            formdata.append("file", file);
            $.ajax({
            url:  '/uploadThumb',
            data: formdata,
            type: 'POST',
            processData: false,//必须
            contentType: false,//必须
            success: function (data) {
                //console.log(data)
                console.log(data)
                // var imgpath = data.imgPath
                $('#thumbimg').attr('src', data.slice(1,-1))
            }
        })

        }


        function getContent(e) {
            let title = $("#title").val();
            let nav1 = $("#nav1").val();
            let thumb = $('#thumbimg').attr('src')
            let content = UE.getEditor('editor').getContent()
            let reqbody = { "title": title, "content": content, "nav1": nav1,"thumb":thumb }

            $.post("/savearticle", reqbody, function (data) {
                console.log(data)
                alert("发布成功")
            });

        }


    </script>
</body>

</html>